<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liberty Template</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="./fontawesome-free-6.7.2-web/css/all.min.css">
    <link
        href="https://db.onlinewebfonts.com/c/b3742d53690a139d666c9091e5fe5de8?family=MB+PictureHouse+Two+W01+Light+V1"
        rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/2090551770be22b09600a40b0b4673b7?family=Avenir-Medium" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/1c587cd97662ab09cb8ba96867f212e7?family=DINOT-Regular" rel="stylesheet">

</head>

<body>
    <!-- Header -->
    <div class="header">
        <!-- Header-Content -->
        <div class="container">
            <div class="head-content d-flex text-center align-center">
                <div class="logo"><img src="./imgs/logo.png" alt="liberty-logo" title="liberty-logo"></div>
                <h1 class="head-title">HELLO WE ARE LIBERTY <br> WE DO AMAZING THINGS EVERYDAY</h1>
                <button class="btn">GET STARTED</button><br>
                <p class="scroll-description">Scroll To Continue</p>
                <i class="fa-solid fa-computer-mouse scroll-icon"></i>
            </div>
        </div>
    </div>

        <!-- Everything You Know Section -->
        
            <div class="eyn text-center">
                <div class="container">
                    <h2 class="section-title">EVERYTHING YOU NEED</h2>
                    <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                        obcaecati pariatur recusandae rem ea blanditiis. Quia perspiciatis iste nostrum illo debitis
                        atque aspernatur voluptatem assumenda?</p>


                    <div class="eyn-grid">
                        <div class="eyn-sec-a">
                            <div class="eyn-card-a">
                                <h3 class="eyn-title">ALL-New Design</h3>
                                <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                            </div>
                            <hr>
                            <div class="eyn-card-a">
                                <h3 class="eyn-title">Retina Ready</h3>
                                <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                            </div>
                            <hr>
                            <div class="eyn-card-a">
                                <h3 class="eyn-title">Amazing Hero Image</h3>
                                <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                            </div>
                            <hr>
                        </div>
                        <div class="eyn-card-icon">
                            <div class="eyn-icon"><img src="./imgs/iphone5.jpg" alt="iphone pic"></div>
                        </div>

                        <div class="eyn-sec-b">
                            <div class="eyn-card-b">
                                <h3 class="eyn-title">Fully Responsive</h3>
                                <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                            </div>
                            <hr>
                            <div class="eyn-card-b">
                                <h3 class="eyn-title">Flat Design</h3>
                                <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                            </div>
                            <hr>
                            <div class="eyn-card-b">
                                <h3 class="eyn-title">Ultimate Features</h3>
                                <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                            </div>
                            <hr>
                        </div>

                    </div>
                </div>
            </div>
        

        <!-- Detailed Section -->
            <div class="detail text-center">
                <div class="container">
                    <h2 class="section-title">EVERY DETAIL DETAILED</h2>
                    <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                        obcaecati pariatur recusandae rem ea blanditiis. Quia perspiciatis iste nostrum illo debitis
                        atque assumenda?</p>


                    <div class="detail-grid">
                        <div class="detail-card" id="card1">
                            <div class="detail-icon"><img src="./imgs/icon1.png" alt="icon1"></div>
                            <h3 class="detail-title">World Class Quality</h3>
                            <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                        </div>
                        <div class="detail-card" id="card2">
                            <div class="detail-icon"><img src="./imgs/icon02.png" alt="icon2"></div>
                            <h3 class="detail-title">Trend Catching</h3>
                            <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                        </div>
                        <div class="detail-card" id="card3">
                            <div class="detail-icon"><img src="./imgs/icon3.png" alt="icon3"></div>
                            <h3 class="detail-title">Realiable Support</h3>
                            <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                        </div>
                        <div class="detail-card">
                            <div class="detail-icon"><img src="./imgs/icon4.png" alt="icon4"></div>
                            <h3 class="detail-title">Time Saving Framework</h3>
                            <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                        </div>
                        <div class="detail-card" id="card5">
                            <div class="detail-icon"><img src="./imgs/icon5.png" alt="icon5"></div>
                            <h3 class="detail-title">Fully Customization</h3>
                            <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                        </div>
                        <div class="detail-card">
                            <div class="detail-icon"><img src="./imgs/icon6.png" alt="icon6"></div>
                            <h3 class="detail-title">Standard Coding</h3>
                            <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Our Works Section -->
            <div class="work text-center">
                <div class="container">
                    <h2 class="section-title">OUR WORKS</h2>
                    <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                        obcaecati pariatur recusandae rem ea blanditiis. Quia perspiciatis iste nostrum illo debitis
                        atque assumenda? Lorem ipsum dolor sit amet.</p>


                    <div class="work-grid">
                        <div class="work-img"><img src="https://picsum.photos/id/1/250/250" alt="laptop image">
                            <div class="overlay">
                                <div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div>
                                <div class="overlay-text">Project</div>
                            </div>
                        </div>

                        <div class="work-img"><img src="https://picsum.photos/id/2/250/250" alt="laptop image">
                            <div class="overlay">
                                <div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div>
                                <div class="overlay-text">Project</div>
                            </div>
                        </div>

                        <div class="work-img"><img src="https://picsum.photos/id/3/250/250" alt="laptop image">
                            <div class="overlay">
                                <div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div>
                                <div class="overlay-text">Project</div>
                            </div>
                        </div>
                        <div class="work-img"><img src="https://picsum.photos/id/4/250/250" alt="laptop image">
                            <div class="overlay">
                                <div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div>
                                <div class="overlay-text">Project</div>
                            </div>
                        </div>

                        <div class="work-img"><img src="https://picsum.photos/id/4/250/250" alt="laptop image">
                            <div class="overlay">
                                <div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div>
                                <div class="overlay-text">Project</div>
                            </div>
                        </div>

                        <div class="work-img"><img src="https://picsum.photos/id/3/250/250" alt="laptop image">
                            <div class="overlay">
                                <div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div>
                                <div class="overlay-text">Project</div>
                            </div>
                        </div>

                        <div class="work-img"><img src="https://picsum.photos/id/2/250/250" alt="laptop image">
                            <div class="overlay">
                                <div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div>
                                <div class="overlay-text">Project</div>
                            </div>
                        </div>

                        <div class="work-img"><img src="https://picsum.photos/id/1/250/250" alt="laptop image">
                            <div class="overlay">
                                <div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div>
                                <div class="overlay-text">Project</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Testimonials Section -->
            <div class="testimonials text-center">
                <div class="container">
                    <h2 class="section-title">TESTIMONIALS</h2>
                    <div class="testimonials-sec-image">
                        <img src="https://picsum.photos/id/30/200/300" alt="">
                        <img src="https://picsum.photos/id/36/200/300" alt="">
                        <img src="https://picsum.photos/id/37/200/300" alt="">
                        <img src="https://picsum.photos/id/38/200/300" alt="">
                        <img src="https://picsum.photos/id/39/200/300" alt="">
                        <img src="https://picsum.photos/id/41/200/300" alt="">
                        <img src="https://picsum.photos/id/42/200/300" alt="">
                    </div>
                    <p class="section-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam iure
                        esse ad, enim explicabo possimus. Obcaecati expedita eius, veritatis, libero temporibus
                        perferendis reiciendis et maxime totam magnam culpa omnis voluptatem!</p>
                    <h4 class="testimonials-alt-sec">Someone famous @ Source Title</h4>
                    <hr>

                    <div class="testimonials-grid">
                        <div class="testimonials-brand-image">
                            <img src="./imgs/dribbble-logo-black-and-white.png" alt="dribble">

                        </div>
                        <div class="testimonials-brand-image">
                            <img src="./imgs/google.png" alt="google">
                        </div>
                        <div class="testimonials-brand-image">
                            <img src="./imgs/wordpress.png" alt="dribble">

                        </div>
                        <div class="testimonials-brand-image">
                            <img src="./imgs/google.png" alt="google">
                        </div>
                        <div class="testimonials-brand-image">
                            <img src="./imgs/dribbble-logo-black-and-white.png" alt="dribble">

                        </div>
                        <div class="testimonials-brand-image">
                            <img src="./imgs/wordpress.png" alt="google">
                        </div>
                    </div>
                </div>
            </div>

        <!-- Pricing Table Section -->

            <div class="price text-center">
                <div class="container">
                    <h2 class="section-title">PRICING TABLE</h2>
                    <p class="section-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur
                        necessitatibus consectetur unde eius, tempora ad debitis temporibus enim doloremque voluptatum.
                    </p>

                    <div class="price-grid">
                        <div class="price-card">
                            <div class="price-sec-title" id="p-title">
                                <h3>Basic</h3>
                                <p>$9 / MONTH</p>
                                <hr>
                            </div>
                            <p><strong>Full</strong> Access</p>
                            <hr>
                            <p><strong>Unlimited</strong> Pizza</p>
                            <hr>
                            <p><strong>Free</strong> Beer</p>
                            <hr>
                            <p>2 free folks every months</p>
                            <hr>
                            <p><strong>Unlimited</strong> Bugger</p>
                            <hr>
                            <p>Free Domain Name</p>
                            <hr>
                            <button class="price-btn" id="pbtn">SIGN UP NOW</button>
                        </div>

                        <div class="price-card">
                            <div class="price-sec-title" id="p-title">
                                <h3>Standard</h3>
                                <p>$29 / MONTH</p>
                                <hr>
                            </div>
                            <p><strong>Full</strong> Access</p>
                            <hr>
                            <p><strong>Unlimited</strong> Pizza</p>
                            <hr>
                            <p><strong>Free</strong> Beer</p>
                            <hr>
                            <p>2 free folks every months</p>
                            <hr>
                            <p><strong>Unlimited</strong> Bugger</p>
                            <hr>
                            <p>Free Domain Name</p>
                            <hr>
                            <button class="price-btn" id="pbtn">SIGN UP NOW</button>
                        </div>

                        <div class="price-card">
                            <div class="price-sec-title" id="p-title">
                                <h3>Professional</h3>
                                <p>$39 / MONTH</p>
                                <hr>
                            </div>
                            <p><strong>Full</strong> Access</p>
                            <hr>
                            <p><strong>Unlimited</strong> Pizza</p>
                            <hr>
                            <p><strong>Free</strong> Beer</p>
                            <hr>
                            <p>2 free folks every months</p>
                            <hr>
                            <p><strong>Unlimited</strong> Bugger</p>
                            <hr>
                            <p>Free Domain Name</p>
                            <hr>
                            <button class="price-btn" id="pbtn">SIGN UP NOW</button>
                        </div>

                        <div class="price-card">
                            <div class="price-sec-title" id="p-title">
                                <h3>Enterprise</h3>
                                <p>$69 / MONTH</p>
                                <hr>
                            </div>
                            <p><strong>Full</strong> Access</p>
                            <hr>
                            <p><strong>Unlimited</strong> Pizza</p>
                            <hr>
                            <p><strong>Free</strong> Beer</p>
                            <hr>
                            <p>2 free folks every months</p>
                            <hr>
                            <p><strong>Unlimited</strong> Bugger</p>
                            <hr>
                            <p>Free Domain Name</p>
                            <hr>
                            <button class="price-btn" id="pbtn">SIGN UP NOW</button>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Showcase Section -->
            <div class="showcase">
                <div class="img-div">
                    <img src="./imgs/iphone-in-hand.jpg" alt="iphone-in-hand">
                </div>

                <div class="showcase-main">
                    <div class="showcase-sec">
                        <div class="showcase-title">
                            <h2 class="section-title">SHOWCASE</h2>
                            <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Temporibus dicta eaque tenetur doloremque similique doloribus debitis, cupiditate facere
                                maxime perferendis! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque
                                incidunt dolores quos nemo maxime maiores error inventore ipsam quam omnis.</p>
                        </div>

                        <div class="show-card">
                            <img src="https://picsum.photos/id/0/200/300" alt="">
                            <h4>Start</h4>
                            <p>Retro HTML Template</p>
                        </div>
                        <div class="show-card">
                            <img src="https://picsum.photos/id/42/200/300" alt="">
                            <h4>Se7en</h4>
                            <p>iOS7 Style Template</p>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Our Team Section -->
            <div class="team text-center">
                <div class="container">
                    <h2 class="section-title">OUR TEAM</h2>
                    <p class="section-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere modi
                        architecto sapiente eveniet eius porro deserunt minima nemo corrupti quisquam!</p>


                    <div class="team-grid">
                        <div class="team-card">
                            <div class="team-image"><img src="./imgs/avatar1.jpg" alt=""></div>
                            <h3 class="team-title">Anna Zoe</h3>
                            <p class="team-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Perspiciatis minima fugiat, similique vel saepe porro inventore quia, sit maxime facere
                                neque? Cum error facilis vel.</p>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-google"></i></a>
                            </div>
                        </div>

                        <div class="team-card">
                            <div class="team-image"><img src="./imgs/avatar2.jpg" alt=""></div>
                            <h3 class="team-title">Liam Daniel</h3>
                            <p class="team-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Perspiciatis minima fugiat, similique vel saepe porro inventore quia, sit maxime facere
                                neque? Cum error facilis vel.</p>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-google"></i></a>
                            </div>
                        </div>

                        <div class="team-card">
                            <div class="team-image"><img src="./imgs/avatar3.jpg" alt=""></div>
                            <h3 class="team-title">John Doe</h3>
                            <p class="team-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Perspiciatis minima fugiat, similique vel saepe porro inventore quia, sit maxime facere
                                neque? Cum error facilis vel.</p>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Us Section -->
            <div class="contact text-center">
                <div class="container">
                    <h2 class="section-title">CONTACT US</h2>
                    <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                        distinctio quos corporis, similique neque, minima esse dolor voluptates eius debitis blanditiis
                        tempore est, et tenetur voluptatum? Dolor libero vero minus.</p>

                    <form class="contact-form">
                        <div class="textarea">
                            <textarea id="massage" placeholder="Massage" required></textarea>
                        </div>
                        <div class="form-row">
                            <input type="text" placeholder="Name" id="name" required>
                            <input type="email" placeholder="Email" id="email" required>
                            <input type="text" id="code" placeholder="Type the code shown">
                            <button type="submit" class="contact-submit">SUBMIT</button>
                        </div>

                    </form>
                </div>
            </div>

    <!-- Footer Section -->
    <footer class="foot text-center">
        <div class="uparrow"><img src="./imgs/uparrow.png" alt="arrow"></div>
        <p class="section-description">Copyright &copy; 2014 <span>Company. Inc.</span> All rights reserved <br>
            Theme: <span>Liberty</span> 1.0.0. Designed by <span>Sahil Bhalani</span>
        </p>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
        </div>
    </footer>
</body>

</html>