<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liberty Template</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="./fontawesome-free-6.7.2-web/css/all.min.css">
    <link href="https://db.onlinewebfonts.com/c/b3742d53690a139d666c9091e5fe5de8?family=MB+PictureHouse+Two+W01+Light+V1" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/2090551770be22b09600a40b0b4673b7?family=Avenir-Medium" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/1c587cd97662ab09cb8ba96867f212e7?family=DINOT-Regular" rel="stylesheet">
    
</head>
<body>
    <!-- Header -->
     <header>
        <!-- Header-Content -->
        <div class="container">
            <div class="head-content d-flex justify-center align-center text-center">
                <div class="logo"><img src="./imgs/logo.png" alt="liberty-logo" title="liberty-logo" height="37" width="117"></div>
                <h1 class="head-title">HELLO WE ARE LIBERTY <br> WE DO AMAZING THINGS EVERYDAY</h1>
                <button class="btn">GET STARTED</button><br>
                <p class="scroll-description">Scroll To Continue</p>
                <i class="fa-solid fa-computer-mouse scroll-icon"></i>
            </div>
        </div>
     </header>

     <!-- Main -->
     <main>

        <!-- Everything You Know Section -->
        <section>
            <div class="eyn text-center">
                <div class="container">
                    <h2 class="section-title">EVERYTHING YOU NEED</h2>
                    <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint obcaecati pariatur recusandae rem ea blanditiis. Quia perspiciatis iste nostrum illo debitis atque aspernatur voluptatem assumenda?</p>
                

                <div class="eyn-grid">
                    <div class="eyn-sec-a">
                    <div class="eyn-card-a">
                        <h3 class="eyn-title">ALL-New Design</h3>
                        <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                    </div><hr>
                    <div class="eyn-card-a">
                        <h3 class="eyn-title">Retina Ready</h3>
                        <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                    </div><hr>
                    <div class="eyn-card-a">
                        <h3 class="eyn-title">Amazing Hero Image</h3>
                        <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                    </div><hr>
                    </div>
                    <div class="eyn-card-icon">
                        <div class="eyn-icon"><img src="./imgs/iphone5.jpg" alt="iphone pic" height="612px" width="409px"></div>
                    </div>

                    <div class="eyn-sec-b">
                    <div class="eyn-card-b">
                        <h3 class="eyn-title">Fully Responsive</h3>
                        <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                    </div><hr>
                    <div class="eyn-card-b">
                        <h3 class="eyn-title">Flat Design</h3>
                        <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                    </div><hr>
                    <div class="eyn-card-b">
                        <h3 class="eyn-title">Ultimate Features</h3>
                        <p class="eyn-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem adipisci error suscipit voluptate dignissimos quam!</p>
                    </div><hr>
                    </div>

                </div>
            </div>
            </div>
        </section>

        <!-- Detailed Section -->
         <section>
            <div class="detail text-center">
            <div class="container">
                <h2 class="section-title">EVERY DETAIL DETAILED</h2>
                <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint obcaecati pariatur recusandae rem ea blanditiis. Quia perspiciatis iste nostrum illo debitis atque assumenda?</p>


            <div class="detail-grid">
                <div class="detail-card" id="card1">
                    <div class="detail-icon" ><img src="./imgs/icon1.png" alt="icon1" width="100px" height="100px"></div>
                    <h3 class="detail-title">World Class Quality</h3>
                    <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                </div>
                <div class="detail-card" id="card2">
                    <div class="detail-icon"><img src="./imgs/icon02.png" alt="icon2" width="100px" height="100px"></div>
                    <h3 class="detail-title">Trend Catching</h3>
                    <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                </div>
                <div class="detail-card" id="card3">
                    <div class="detail-icon" ><img src="./imgs/icon3.png" alt="icon3" width="100px" height="100px"></div>
                    <h3 class="detail-title">Realiable Support</h3>
                    <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                </div>
                <div class="detail-card">
                    <div class="detail-icon"><img src="./imgs/icon4.png" alt="icon4" width="100px" height="100px"></div>
                    <h3 class="detail-title">Time Saving Framework</h3>
                    <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                </div>
                <div class="detail-card" id="card5">
                    <div class="detail-icon" ><img src="./imgs/icon5.png" alt="icon5" width="100px" height="100px"></div>
                    <h3 class="detail-title">Fully Customization</h3>
                    <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                </div>
                <div class="detail-card">
                    <div class="detail-icon"><img src="./imgs/icon6.png" alt="icon6" width="100px" height="100px"></div>
                    <h3 class="detail-title">Standard Coding</h3>
                    <p class="detail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore assumenda nulla suscipit culpa laborum.</p>
                </div>
            </div>
            </div>
            </div>
         </section>

         <!-- Our Works Section -->
         <section>
            <div class="work text-center">
                <div class="container">
                    <h2 class="section-title">OUR WORKS</h2>
                    <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint obcaecati pariatur recusandae rem ea blanditiis. Quia perspiciatis iste nostrum illo debitis atque assumenda? Lorem ipsum dolor sit amet.</p>
                

                <div class="work-grid">
                    <div class="work-img"><img src="https://picsum.photos/id/1/250/250" alt="laptop image"><div class="overlay"><div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div><div class="overlay-text">Project</div></div>
                    </div>
                
                    <div class="work-img"><img src="https://picsum.photos/id/2/250/250" alt="laptop image"><div class="overlay"><div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div><div class="overlay-text">Project</div></div></div>
                
                    <div class="work-img"><img src="https://picsum.photos/id/3/250/250" alt="laptop image"><div class="overlay"><div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div><div class="overlay-text">Project</div></div></div>
               
                    <div class="work-img"><img src="https://picsum.photos/id/4/250/250" alt="laptop image"><div class="overlay"><div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div><div class="overlay-text">Project</div></div></div>
              
                    <div class="work-img"><img src="https://picsum.photos/id/4/250/250" alt="laptop image"><div class="overlay"><div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div><div class="overlay-text">Project</div></div></div>
               
                    <div class="work-img"><img src="https://picsum.photos/id/3/250/250" alt="laptop image"><div class="overlay"><div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div><div class="overlay-text">Project</div></div></div>
               
                    <div class="work-img"><img src="https://picsum.photos/id/2/250/250" alt="laptop image"><div class="overlay"><div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div><div class="overlay-text">Project</div></div></div>
               
                    <div class="work-img"><img src="https://picsum.photos/id/1/250/250" alt="laptop image"><div class="overlay"><div class="plus-icon"><i class="fa-solid fa-circle-plus"></i></div><div class="overlay-text">Project</div></div></div>
                </div>
            </div>
            </div>
         </section>


     </main>
</body>
</html>