<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 1</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
    <!-- Header -->
    <div class="header">
         <div class="slogan"> 
        <h1>Enter Site Title</h1>
        <p>Enter Site Slogan</p>
        </div>
    </div>

    <!-- Navbar -->
    

    <!-- Row Container -->
    <div class="row">

        <div class="navbar">
        <a href="#">Home</a>
        <a href="#">New Page</a>
        <a href="#">New Page 2</a>
        <a href="#">New Page 3</a>
        <a href="#">New Page 4</a>
        <a href="#">New Page 5</a>
    </div>
        <!-- Sidebar -->
        <div class="sidebar">
            <h1>=> Main Menu</h1>
            <ul>
                <li><a href="#">Menu Item 1</a></li>
                <li><a href="#">Menu Item 2</a></li>
                <li><a href="#">Menu Item 3</a></li>
                <li><a href="#">Menu Item 4</a></li>
                <li><a href="#">Menu Item 5</a></li>
                <li><a href="#">Menu Item 6</a></li>
                <li><a href="#">Menu Item 7</a></li>
                <li><a href="#">Menu Item 8</a></li>
            </ul>
            <br>
            <h1>=> Block</h1>
            <h4>Enter Block Content Here....</h4>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est nostrum ab eveniet eaque iusto delectus in
                quia pariatur? Deleniti, odit.</p>
        </div>

        <!-- Main Menu -->
        <div class="menu">
            <div class="gallery">
                <h4>Gallery</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ab dolor, placeat cum reiciendis,
                minima rem corrupti harum earum magni ipsum tempora a quos ducimus inventore temporibus reprehenderit
                libero laudantium unde deleniti voluptate delectus maxime. Laborum nihil repellendus animi voluptatibus
                fugiat quibusdam eaque facere. Explicabo aliquid ipsa debitis quod tempora architecto deleniti odio
                consectetur a optio, facilis atque omnis quia earum, harum iure aspernatur corrupti natus non? Facere,
                dolorem repellendus mollitia repellat delectus harum distinctio nam exernam quam at velit a nulla labore est aliquam ad! Facilis minus accusamus minima in
                facere eligendi, quas reiciendis.</p>
            </div>
            <br>

            <div class="sub-menu">
                <div class="subscription">
                    <h4>Subscription</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem voluptatibus quaerat eligendi dolore facilis aliquid porro alias obcaecati perspiciatis ratione! Sit non soluta quos delectus temporibus odio magnam possimus fuga? Non architecto adipisci impedit nisi blanditiis assumenda ex voluptas? Inventore nemo repudiandae</p>
                    <br>
                    <button class="button">Read More</button>
                </div>
    
    
                <div class="other-services">
                
                    <h4>Other Services</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem voluptatibus quaerat eligendi dolore facilis aliquid porro alias obcaecati perspiciatis ratione! Sit non soluta quos delectus temporibus odio magnam possimus fuga? Non architecto adipisci impedit nisi blanditiis assumenda ex voluptas? Inventore nemo repudiandae
                    </p>
                    <br>
                    <button class="button">Read More</button>
                </div>
            </div>
        </div>

        <div class="footer">
        <h2> Copyright &copy; 2014. </h2>
    </div>
    </div>
    </div>

    <!-- Footer -->
    
    
    </div>
</body>

</html>