<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 2</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap');
    </style>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./fontawesome-free-6.7.2-web/css/all.min.css">
</head>

<body>

    <!-- Header -->
    <div class="header">
        <div class="container">
            <div class="menubar">
                <div class="logo"><img src="./img/logo.png" alt=""></div>
                <div class="navbar">
                    <div class="nav-items">
                        <a href="#">HOME</a>
                        <a href="#">ABOUT</a>
                        <a href="#">WORK</a>
                        <a href="#">BLOG</a>
                        <a href="#">CONTACT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Head Contain -->
    <div class="head-content">
        <div class="container">
            <div class="head">
                <h1>Hi There! We are the new kids on the block and we build awesome websites and mobile apps.</h1>
                <button class="btn">WORK WITH US!</button>
            </div>
        </div>
    </div>

    <!--Services-Section-->
    <section class="services">
        <div class="container">
            <div class="serv">
                <h1>SERVICES WE PROVIDE</h1>
                <hr>
                <p class="sp1">We are working individuals and businesses from all over the globe <br> to create
                    awesome website and applications.</p>
            </div>
            <div class="ces">
                <div class="brand">
                    <img src="./img/branding.png" alt="branding img">
                    <h1>Branding</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, maiores.</p>
                </div>
                <div class="design">
                    <img src="./img/design.png" alt="Design img">
                    <h1>Design</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, maiores.</p>
                </div>
                <div class="development">
                    <img src="./img/development.png" alt="development img">
                    <h1>Development</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, maiores.</p>
                </div>
                <div class="sci">
                    <img src="./img/rocket.png" alt="Rocket img">
                    <h1>Rocket Science</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, maiores.</p>
                </div>
            </div>

        </div>
    </section>


    <!-- Team Section -->
    <div class="team">
        <div class="container">
            <div class="teamhead">
                <h1>MEET OUR BEAUTIFUL TEAM</h1>
                <hr>
                <p class="sp1">We are small team designers and developers, who help brands with big ideas.</p>
            </div>
            <div class="members">
                <div class="mem1">
                    <img src="./img/Anne_Hathaway.jpg" alt="anne">
                    <h1>ANNE HATHAWAY</h1>
                    <h4>CEO / MARKETING Guru</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi inventore quibusdam esse
                        amet. Et, ut?</p>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="mem2">
                    <img src="./img/Kate_Upton.jpg" alt="kate">
                    <h1>KATE UPTON</h1>
                    <h4>Creative Director</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi inventore quibusdam esse
                        amet. Et, ut?</p>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="mem3">
                    <img src="./img/Olivia_Wilde.jpg" alt="olive">
                    <h1>OLIVIA WILDE</h1>
                    <h4>Lead Designer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi inventore quibusdam esse
                        amet. Et, ut?</p>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="mem4">
                    <img src="./img/Ashley_Greene.jpg" alt="ash">
                    <h1>ASHLEY GREENE</h1>
                    <h4>SEO / Developer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi inventore quibusdam esse
                        amet. Et, ut?</p>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="skill">
        <div class="container">
            <div class="skill-head">
                <h1>WE GOT SKILLS!</h1>
                <hr>
                <p class="sp1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>Laudantium aut
                    reprehenderit laborum
                    maiores quos, ratione error iure earum unde odit!</p>
            </div>

            <div class="prog">
                <div class="pro1" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <h2>WEB DESIGN</h2>
                </div>
                <div class="pro2" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    <h2>HTML / CSS</h2>
                </div>
                <div class="pro3"></div>
                <div class="pro4"></div>
            </div>
        </div>

</body>

</html>