* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web";
  margin: 0;
}

/* Font Family */
.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* Container */

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

/* Navigation Links */
.menubar {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.header {
  background-color: #864f9c;
}

.navbar {
  align-self: center;
}
.logo {
  padding: 15px 5px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-items li a {
    text-decoration: none;
    color: #000;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.navbar ul li a:hover {
    background-color: #643a79;
    border-radius: 4px;
}

/* Head - Content */
.head-content {
  background-color: #864f9c;
  color: white;
  padding-bottom: 120px;
  text-align: center;
}

.head h1 {
  margin: 0;
  padding: 100px 50px 30px 50px;
}

.btn {
  color: white;
  font-size: medium;
  font-family: "Titillium Web";
  background-color: #eb7e4b;
  box-shadow: 0 5px #eb7e4ba7;
  padding: 15px 75px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

/* Services Section */
.services {
  background-color: #17c2a3;
  color: white;
}

.serv {
  text-align: center;
  padding-bottom: 50px;
}

.serv h1 {
  margin: 0;
  padding-top: 100px;
  letter-spacing: 3px;
}

hr {
  width: 7%;
  height: 5px;
  background-color: gray;
  border-style: none;
  opacity: 0.5;
}

p.sp1 {
  font-size: x-large;
}

.ces {
  display: flex;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.brand {
  width: 25%;
  text-align: center;
}

.design {
  width: 25%;
  text-align: center;
}

.development {
  width: 25%;
  text-align: center;
}

.sci {
  width: 25%;
  text-align: center;
}

/* Team Section */
.team {
  background-color: #e7f1f8;
  color: black;
}

.team-grid{
    display: flex;
    flex-wrap: wrap;
    
}

.team .section-title {
    margin: 0;
  letter-spacing: 3px;
  padding-top: 100px;
  text-align: center;
}

.team .section-description {
      padding: 0 20px 50px 20px;
      text-align: center;
      font-size: x-large;
}

.team-card {
    width: 25%;
    padding: 0 20px 100px 20px;
}

.team-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 30px;
    overflow: hidden;
    background-color: #878787;
}

.team-photo img {
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.team-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-name {
    font-size: 24px;
    font-weight: 700;
    color: #3c4761;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.team-position {
    color: teal;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.team-description {
    font-size: 16px;
    color: #3c4761;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-links i:hover {
    background-color: teal;
}

/* Skill Section */

.skill {
  background-color: white;
  color: black;
}

.skill-head {
  text-align: center;
  padding-bottom: 50px;
}

.skill-head h1 {
  margin: 0;
  padding-top: 100px;
  letter-spacing: 3px;
}

.skill-head p {
  padding: 0 20px;
}

.s-title{
  text-align: center;
}

.prog {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 180px;
  justify-content: space-around;
}

.pro1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 160px;
  height: 160px;
  margin: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(dodgerblue 75%,  rgba(225, 225, 225, 0.412) 0);
}

.pro1::before {
    content: "75%";
    position: absolute;
    top: 60px;
    right: 55px;
    font-size: 30px;
}

.pro1 h2{
    position: absolute;
    top: 160px;
    left: 10px;
}

.pro2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 160px;
  height: 160px;
  margin: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(hotpink 90%, rgba(225, 225, 225, 0.412) 0);
}

.pro2::before {
    content: "90%";
    position: absolute;
    top: 60px;
    right: 55px;
    font-size: 30px;
}

.pro2 h2{
    position: absolute;
    top: 160px;
    left: 10%;
}

.pro3 {
  text-align: center;
  position: relative;
  width: 160px;
  height: 160px;
  margin: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(green 70%, rgba(225, 225, 225, 0.412) 0);
}

.pro3::before {
    content: "70%";
    position: absolute;
    top: 60px;
    right: 55px;
    font-size: 30px;
}

.pro3 h2{
    position: absolute;
    top: 160px;
    left: 1px;
}

.pro4 {
  text-align: center;
  position: relative;
  width: 160px;
  height: 160px;
  margin: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(orange 85%, rgba(225, 225, 225, 0.412) 0);
}

.pro4::before {
    content: "85%";
    position: absolute;
    top: 60px;
    right: 55px;
    font-size: 30px;
}

.pro4 h2{
    position: absolute;
    top: 160px;
    left: 25%;
}


/* Portfolio Section */
.portfolio {
  background-color: #ffdd99;
  color: black;
}

.porthead {
  text-align: center;
  padding-bottom: 50px;
}

.porthead h1 {
  margin: 0;
  padding-top: 100px;
  letter-spacing: 3px;
}

.porthead p {
  padding: 0 20px;
}

.porthead a{
  text-decoration: none;
  padding: 5px 30px;
  margin-right: 5px;
  color:black;
  background-color: #ebc985;
  border-radius: 5px;
}

.porthead a:hover{
  background-color: white;
  border-radius: 5px;
  padding: 5px 30px;
}

.port-main{
   display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.port-main img{
  width: 100%;
  height: auto;
}

.port-main p{
  text-align: center;
}
.port1{
  flex: 50%;
  padding: 20px;
}
.port2{
  flex: 50%;
  padding: 20px;
}
.port3{
  flex: 25%;
  padding: 20px;
}
.port4{
  flex: 25%;
  padding: 20px;
}

.btnn{
  text-align: center;
  padding: 20px 0 100px 0;
}

.btn2 {
  color: white;
  font-size: medium;
  font-family: "Titillium Web";
  text-align: center;
  background-color: #17c2a4;
  box-shadow: 0 5px #17c2a355;
  padding: 15px 75px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

/* Review Section */

.testimonials {
    padding: 100px 0;
    background-color: #d74680;
    color: white;
}

.testimonials .section-title {
    color: white;
    margin: 0;
  letter-spacing: 3px;
}

.testimonials .section-description {
    color: white;
      padding: 0 20px;
      text-align: center;
      font-size: x-large;
}

.testimonials h1{
  text-align: center;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 60px;
}

.testimonial-card {
    display: flex;
    gap: 30px;
    text-align: left;
}

.testimonial-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.testimonial-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-content {
    flex: 1;
}

.testimonial-text {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}

.testimonial-text::before {
    content: '"';
    font-size: 60px;
    position: absolute;
    top: -30px;
    left: -20px;
    opacity: 0.2;
}

.testimonial-name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

/* Get-in-Touch Section */
.contact {
    padding: 100px 0;
    background-color: #3c5499;
    color: white;
}

.contact .section-title {
    color: white;
    margin: 0;
  /* padding-top: 50px; */
  letter-spacing: 3px;
  text-align: center;
}

.contact-address {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
}

.contact-form {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.row {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.row input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-family: 'Titillium Web';
    font-size: 16px;
    background-color: #273a71;
}

.row input::placeholder{
    background-color: #273a71;
    color: white;
    border: transparent;
}

.contact-form textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 30px;
    font-family: 'Titillium Web';
    font-size: 16px;
    resize: vertical;
    background-color: #273a71;
    color: white;
}

::placeholder{
  color: white;
}


.contact-submit {
    background-color: teal;
    color: white;
    text-align: center;
    border: none;
    padding: 20px 60px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}




/* Footer Section */
.footer {
  background-color: #344b8e;
  
}

.foot{
  text-align: center;
  padding: 50px;
  
}

.foot a{
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: x-large;
}

.foot a:hover{
  color: #30b6e3;
}








